
<!-- Form -->
<div id="imageSelectBox">

  <div class="container-fluid bg-light rounded border py-3">

    <div class="row">

      <!-- Image -->
      <div class="col-12 col-sm-6 text-center p-3">

        <img *ngIf="imageUrl; else tempImage" class="rounded border" id="featuredImage" src="{{ imageUrl }}" />
        
        <ng-template #tempImage>
          <img class="rounded border" id="featuredImage" src="assets/images/imagePreview.png" />
        </ng-template>

      </div>

      <div class="col-12 col-sm-6 d-flex px-5 px-sm-2 align-items-center">

        <div class="row pe-0 pe-sm-4">

          <!-- Text Control Form -->
          <form [formGroup]="imageForm">
            
            <div class="col-12 my-1">
              <input formControlName="imageName" class="form-control form-control-sm" placeholder="Image Name" />
            </div>

            <div class="col-12 my-1">
              <textarea formControlName="imageDescr" class="form-control form-control-sm" rows="4" placeholder="Image Description"></textarea>
            </div>
            
            <!-- Horizontal Rule -->
            <div>
              <hr>
            </div>

            <!-- Control Buttons -->
            <div class="col-12 text-center">
              <app-image-modal (notify)="setForm($event)"></app-image-modal>
              <button class="btn btn-sm btn-outline-secondary m-1" (click)="clearForm()">Remove Image</button>
            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>
